body {
  padding: 0 5px;
  user-select: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
}

.container {
  position: absolute;
  padding: 0 5px 5px 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner {
  display: inline-flex;
  margin: 10px 0;
}

.car-img {
  margin: 0 auto;
  display: block;
  min-height: 160px;
  object-fit: contain;
  filter: brightness(1.2);
}
.drive-info {
  font-family: var(--vscode-editor-font-family);
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin-bottom: -1em;
}
.drive-info .shift-state {
  margin: 2px;
  color: var(--progress-background);
  opacity: 0.5;
}
.drive-info .shift-state.enable {
  opacity: 1;
}
.state-info {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin: -25px 0 15px 0;
}

.state-info > span {
  width: calc((100% - 8px) / 3);
  display: inline-grid;
  cursor: pointer;
}
.shortcuts {
  margin: 0;
}
.shortcuts .shortcut {
  width: calc((100% - 11px) / 4);
  min-width: 48px;
  max-width: 100px;
  margin: 2px 0;
}

body.vscode-high-contrast vscode-button {
  background: var(--button-border);
}
body.vscode-high-contrast vscode-button[appearance="secondary"],
body.vscode-high-contrast vscode-button[appearance="icon"] {
  background: inherit;
}

@keyframes charging {
  from {
    background-color: var(--button-secondary-background);
  }
  50% {
    background-color: var(--button-primary-background);
  }
  to {
    background-color: var(--button-secondary-background);
  }
}

.auto-renew {
  position: absolute;
  display: grid;
  top: 14px;
  right: 10px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 999;
}

.syncBtn {
  justify-self: right;
}

.timestamp {
  font-size: 0.8em;
}

.shortcut.charging {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: charging;
}

.main {
  height: 100vh;
}

.view-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: max-content max-content auto max-content;
}

.control-view vscode-panel-tab .view-label {
  display: none;
}

.control-view vscode-panel-tab[aria-selected="true"] .view-label {
  margin-left: 6px;
  -display: block;
}

.offline .control-view,
.asleep .control-view {
  display: none;
}

.flex-view {
  padding: 0;
  overflow: auto;
}

.flex-view::-webkit-scrollbar,
.control-view vscode-panels::-webkit-scrollbar {
  display: none;
}

.flex-view vscode-panels {
  height: 100%;
}

.debug {
  display: none;
}

.vscode-dark .map {
  filter: invert(1) hue-rotate(180deg);
}
.bm_bottomLeftOverlay {
  display: none;
}

.control-view-content .shortcut {
  max-width: initial;
}

.control-view-content .shortcut .material-symbols-rounded {
  margin-right: 6px;
}

.control-view-content .shortcut .label {
  display: contents;
}

@media screen and (max-width: 600px) {
  .control-view-content .shortcut .material-symbols-rounded {
    margin-right: 0;
  }
  .control-view-content .shortcut .label {
    display: none;
  }
}

.control-view-content {
  height: 100%;
  padding: 0 0px;
}
.control-view-content > div {
  width: 100%;
}
.control-view-content.control-view-location > div,
.control-view-content.control-view-action > div,
.control-view-content.control-view-climate > div {
  display: grid;
  grid-template-rows: auto max-content;
}

.tpms_pressure > div {
  position: absolute;
  width: 60px;
  text-align: center;
}
.tpms_pressure .fl {
  top: 20%;
  left: calc(50% - 140px);
}

.tpms_pressure .fr {
  top: 20%;
  left: calc(50% + 80px);
}

.tpms_pressure .rl {
  top: 65%;
  left: calc(50% - 140px);
}

.tpms_pressure .rr {
  top: 65%;
  left: calc(50% + 80px);
}

.model .action-list {
  max-width: 360px;
}
.model .action-list vscode-button {
  border-radius: 5px;
  width: 31%;
  margin-right: 2%;
}
.model .action-list vscode-button:last-child {
  margin-right: 0%;
}
.model .action-btn {
  display: block;
  position: absolute;
}

.model .action-btn.frunk {
  top: calc(6% - 0px);
  left: calc(50% - 15px);
}

.model .action-btn.sunroof {
  top: calc(50% - 30px);
  left: calc(50% - 15px);
}

.model .action-btn.trunk {
  top: calc(90% - 44px);
  left: calc(50% - 15px);
}
.model .action-btn.charger {
  top: calc(76% - 30px);
  left: calc(50% - 15px);
  margin-left: -70px;
}
.model .action-btn .material-symbols-rounded {
  font-size: 1.6em;
  color: var(--progress-background);
  text-shadow: 0 0 1px var(--progress-background);
  width: fit-content;
  height: fit-content;
}
.model .above-view-model {
  width: 100%;
  height: 100%;
  min-height: 320px;
}
.model .above-view-model:before {
  content: "";
  display: block;
  height: 100%;
  min-height: 319px;
  background: var(--vehicle-image);
  transform: scale(0.9);
  filter: contrast(0.01);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: -1;
}

.model.scaled .above-view-model {
  overflow: hidden;
  width: 228px;
  height: calc(100% - 32px);
  mask-image: linear-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(10%, rgba(0, 0, 0, 1)),
    color-stop(80%, rgba(0, 0, 0, 1)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(10%, rgba(0, 0, 0, 1)),
    color-stop(80%, rgba(0, 0, 0, 1)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
}

.model.scaled .above-view-model:before {
  transform: scale(1.3) translateY(-8%);
}
.steering {
  display: block;
  position: absolute;
  font-size: 40px;
  transform: rotate(90deg) rotateY(45deg);
  opacity: 0.4;
  top: calc(15% + 15px);
  left: calc(50% - 55px);
}
.model .steering-heater {
  top: calc(15% + 20px);
  left: calc(50% - 50px);
  border-radius: 50%;
  transform: scale(1.1) rotateX(45deg);
}
.RightHand .steering {
  left: calc(50% + 15px);
}
.RightHand .steering-heater {
  left: calc(50% + 20px);
}
.heater {
  position: absolute;
  box-shadow: 0 0 4px #ddd8;
}
.heater.fl {
  top: 32%;
  left: calc(50% - 50px);
}
.heater.fr {
  top: 32%;
  left: calc(50% + 20px);
}
.heater.rl {
  top: 55%;
  left: calc(50% - 50px);
}
.heater.rm {
  top: 55%;
  left: calc(50% - 15px);
}
.heater.rr {
  top: 55%;
  left: calc(50% + 20px);
}

.heater .material-symbols-rounded {
  transform: rotate(90deg);
}

.io_temp {
  display: flex;
  padding: 15px 0 0px 0;
  justify-content: center;
  white-space: pre;
}

.temp_control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0 15px 0;
}
.temp_control vscode-button.left {
  margin-left: 12px;
}
.temp_control vscode-button.right {
  margin-right: 12px;
}
.temp_control vscode-tag {
  width: 40px;
  text-align: center;
}

.charge-state {
  margin-top: 20px;
}
.charge-progress {
  height: 35px;
  margin-left: 36px;
  margin-bottom: -14px;
  width: calc(100% - 88px);
  border: 2px solid var(--divider-background);
  border-radius: 2px;
}
.control-view-charge .charger {
  position: absolute;
  cursor: pointer;
  font-size: 29px;
  line-height: 39px;
  color: var(--progress-background);
}
.control-view-charge .charger.Disconnected {
  color: var(--divider-background);
}
.control-view-charge .charger:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  margin-left: -3px;
  margin-top: 16px;
  border-top: 2px solid;
  border-bottom: 2px dotted;
}
.charge-progress .meter {
  height: 35px;
  background-color: var(--progress-background);
  pointer-events: none;
}
@keyframes charging-battery {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 0%;
  }
}
.charge-progress .meter.Charging {
  animation: charging-battery;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  background: linear-gradient(
    90deg,
    var(--progress-background) 40%,
    var(--background) 50%,
    var(--progress-background) 60%
  );
  background-size: 300% 100%;
}
.charge-progress .meter:before {
  content: attr(data-value) "%";
  color: var(--progress-background);
  font-family: var(--vscode-editor-font-family);
  font-weight: bold;
  width: calc(100% - 90px);
  line-height: 35px;
  text-align: center;
  position: absolute;
  mix-blend-mode: difference;
}
.charge-progress:before {
  content: "";
  height: 15px;
  width: 8px;
  border: 2px solid var(--divider-background);
  border-left: none;
  border-radius: 0 2px 2px 0;
  float: right;
  margin-right: -12px;
  margin-top: 8px;
}
.charge-limit-set {
  width: calc(100% - 88px);
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  margin: 0px 0 0 38px;
  background: var(--divider-background);
  outline: none;
  z-index: 999;
}
.charge-limit-set:focus {
  outline: none;
}
.charge-limit-set::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3px;
  height: 49px;
  margin-top: -37px;
  background-color: var(--progress-background);
  cursor: pointer;
  mix-blend-mode: difference;
}
.battery-limit-label {
  position: absolute;
  right: 6px;
  line-height: 20px;
  margin-top: -20px;
  opacity: 0.4;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-radius: 8px;
}
.charge-info {
  margin: 5px 0 0 34px;
  width: calc(100% - 84px);
  text-align: center;
  font-family: var(--vscode-editor-font-family);
  font-size: smaller;
}

.switcher {
  padding: 10px 0;
}

.switcher .label {
  vertical-align: top;
  margin: 0 8px;
}
.switcher .toggle {
  opacity: 0.6;
  float: right;
  margin: -4px 4px 0 0;
  font-size: 2em;
}
.switcher .toggle.enable {
  color: var(--progress-background);
  text-shadow: 0 0 1px var(--progress-background);
  opacity: 1;
}
.footer-grid vscode-data-grid-cell {
  font-size: 0.8em;
  font-family: var(--vscode-editor-font-family);
  opacity: 0.6;
}
.update {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.update > span {
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: var(--button-primary-foreground);
  background: var(--button-primary-background);
}
body.vscode-high-contrast .update > span {
  background: var(--button-border);
}
.update .progressbar {
  margin-left: -3px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--button-primary-background);
  border-radius: 3px;
  padding: 0;
}
body.vscode-high-contrast .update .progressbar {
  border: 1px solid var(--button-border);
}
.update .progressbar > div {
  background-color: var(--button-primary-background);
  height: 10px;
  border-radius: 0 3px 3px 0;
}
body.vscode-high-contrast .update .progressbar > div {
  background: var(--button-border);
}

vscode-button.big {
  width: 100%;
  max-width: 300px;
  margin: 6px auto;
  display: flex;
}

vscode-data-grid-row:hover,
vscode-data-grid-row:active,
vscode-data-grid-row:focus,
vscode-data-grid-cell:hover,
vscode-data-grid-cell:active,
vscode-data-grid-cell:focus {
  background: none;
  outline: none;
  border-color: transparent;
}
vscode-data-grid-cell {
  padding: 0;
  margin: 0;
}
