body {
  padding: 0 5px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
}
.banner {
  display: inline-flex;
  margin: 10px 0;
}

.locIcon {
  color: var(--progress-background);
}

.locIcon .material-symbols-outlined {
  font-size: 0.7em;
  margin: 0 8px;
}

.car-img {
  margin: 0 auto;
  display: block;
}
.drive-info {
  font-family: var(--vscode-editor-font-family);
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin-bottom: -1em;
}
.drive-info .shift-state {
  margin: 2px;
  color: var(--progress-background);
  opacity: 0.5;
}
.drive-info .shift-state.enable {
  opacity: 1;
}
.state-info {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding-bottom: 15px;
}

.state-info > span {
  width: calc(33% - 2px);
  display: inline-grid;
}

.shortcuts .shortcut {
  width: calc(25% - 3px);
  min-width: 48px;
  margin: 2px 0;
}

@keyframes charging {
  from {
    background-color: var(--button-secondary-background);
  }
  50% {
    background-color: var(--button-primary-background);
  }
  to {
    background-color: var(--button-secondary-background);
  }
}

.auto-renew {
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.timestamp {
  position: absolute;
  right: 3px;
  top: 32px;
  font-size: 0.8em;
  opacity: 0.5;
}

.shortcut.charging {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: charging;
}

.main {
  height: 100vh;
}

.main > vscode-panel-view {
  padding: 0 5px;
}

.view-grid {
  display: grid;
  width: calc(100vw - 24px);
  height: calc(100vh - 40px);
  grid-template-rows: max-content max-content auto max-content;
}

.control-view vscode-panel-view {
  padding: 0;
  margin: 0;
  overflow: auto;
}
.flex-view {
  overflow: auto;
  grid-template-columns: max-content !important;
}

.footer-grid vscode-data-grid-cell {
  font-size: 0.8em;
  font-family: var(--vscode-editor-font-family);
  opacity: 0.6;
}
.update {
  display: inline-flex;
  align-items: center;
  margin: 4px 0 0 0;
}
.update > span {
  background-color: var(--progress-background);
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
}
.update .progressbar {
  margin-left: -2px;
  width: 100%;
  background-color: transparent;
  border-right: 3px solid var(--progress-background);
  padding: 0;
}

.update .progressbar > div {
  background-color: var(--progress-background);
  height: 10px;
}
vscode-data-grid-row:hover,
vscode-data-grid-row:active,
vscode-data-grid-row:focus,
vscode-data-grid-cell:hover,
vscode-data-grid-cell:active,
vscode-data-grid-cell:focus {
  background: none;
  outline: none;
  border-color: transparent;
}
vscode-data-grid-cell {
  padding: 0;
  margin: 0;
}
